<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css')}}"
    />
    <script src="{{url_for('static', filename='js/alpine.js')}}"></script>

    <title>{% block title %}{% endblock title %}Fountain In Valley</title>
  </head>
  <body>
    <div class="login-container">
      <div class="login-container-inner">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div x-data="{ show: true }" x-show="show" class="mb-4 alert-{{category}}">
          <div>{{message}}</div>
          <div>
            <button type="button" @click="show = false" class="text-yellow-700">
              <span class="text-2xl">&times;</span>
            </button>
          </div>
        </div>
        {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock
        content %}
      </div>
    </div>
  </body>
</html>
