{% extends 'base.html' %}{% block message %} {% endblock message %} {% block title %} Transfer - {% endblock title %} {%
block content %}
<div class="login-container">
  <div class="login-container-inner">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div x-data="{ show: true }" x-show="show" class="m-4 alert-{{category}}">
          <div>{{message}}</div>
          <div>
            <button type="button" @click="show = false" class="text-yellow-700">
              <span class="text-2xl">&times;</span>
            </button>
          </div>
        </div>
        {% endfor %} {% endif %} {% endwith %}
    <h1 class="px-5 text-2xl uk-heading-bullet text-center">
      Transfer to Fountain In Valley
    </h1>
    <form action="" class="py-4 px-4 text-left uk-form-stacked" method="post">
      <div class="uk-margin">
        <label for="account_number" class="uk-form-label">Account Number</label>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input
            type="text"
            name="account_number"
            placeholder="Account Number"
            id="account_number"
            required
            class="uk-form-width-large uk-input"
          />
        </div>
      </div>
      <div class="uk-margin">
        <label for="amount" class="uk-form-label">Amount</label>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: credit-card"></span>
          <input
            type="text"
            name="amount"
            placeholder="Amount"
            id="amount"
            required
            class="uk-form-width-large uk-input"
          />
        </div>
      </div>
      <div class="uk-margin">
        <label for="pin" class="uk-form-label">Confirm Pin</label>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input
            type="password"
            name="pin"
            placeholder="Confirm your transaction pin"
            id="pin"
            class="uk-form-width-large uk-input"
          />
        </div>
      </div>
      <div class="flex justify-between">
        <button type="submit" class="btn-primary">Transfer</button>
        <a href="{{url_for('bank.dashboard')}}" class="btn-red  hover:text-white hover:no-underline">Cancel</a>
      </div>
      
    </form>
  </div>
</div>
{% endblock content %}
